<%= render "search" %>

<div class="container timeline">
  <h2>Showing tweets from <%= raw parse_mentions(@user_handle) %></h2>
  <% @tweets.each do |tweet| %>
    <div class="row">
      <div class="col-md-12">
        <p>
          <%= raw("#{parse_tweet tweet.text}") %>
        </p>
        <p>
          <a href="<%= tweet.url %>">
            <%= tweet.created_at.strftime("Posted on %m/%d/%Y")  %>
            <%= tweet.created_at.strftime("at %I:%M%p") %>
          </a>
        </p>
      </div>
    </div>
    <hr>
  <% end %>
</div>
